<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gnews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <div th:with="display=${topic} ? ${topic} : ${keyword}">
    <h2 th:text="|${display} articles|"></h2>
    </div>
    <table id="allTitles" class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Published</th>
            <th>Article url</th>
        </tr>
        </thead>
        <tbody>
        <tr class="result" th:each="article: ${articles}">
            <td th:text="${article.title}"></td>
            <td th:text="${article.publishedAt}"></td>
            <td><a th:href="${article.url}">Go to article</a></td>
        </tr>
        </tbody>
    </table>
    <br>
    <div>
        <label>Search by topic</label>
        <span><a href="/article/topic/world">world</a></span>
        <span><a href="/article/topic/nation">nation</a></span>
        <span><a href="/article/topic/technology">technology</a></span>
        <span><a href="/article/topic/science">science</a></span>
        <span><a href="/article/topic/health">health</a></span>
        <span><a href="/article/topic/business">business</a></span>
        <span><a href="/article/topic/entertainment">entertainment</a></span>
        <span><a href="/article/topic/sports">sports</a></span>
    </div>
    <br>
    <div>
        <form action="/article/search">
            <label for="keyword">Wild search</label>
            <input type="text" id="keyword" name="keyword">
            <input type="submit" value="search">
        </form>
    </div>
</div>
</body>
</html>
