<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Gnews</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
    <h2>Articles</h2>
    <table id="allTitles" class="table table-hover">
        <thead>
        <tr>
            <th>Title</th>
            <th>Published</th>
            <th>Article url</th>
        </tr>
        </thead>
        <tbody>
        <tr class="result" th:each="article: ${articles}">
            <td th:text="${article.title}"></td>
            <td th:text="${article.publishedAt}"></td>
            <td>
                <a th:href="${article.url}">Go to article</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</table>

</body>
</html>
